<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="j2eebp-web" version="3.0">

	<display-name>j2eebp-web</display-name>
	<welcome-file-list>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/login/noAuthenticated.xhtml</location>
	</error-page>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area protegida para empleados</web-resource-name>
			<url-pattern>/itms/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>itms</role-name>
		</auth-constraint>
	</security-constraint>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area protegida para clientes</web-resource-name>
			<url-pattern>/xtms/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>xtms</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-role>
		<role-name>itms</role-name>
	</security-role>
	<security-role>
		<role-name>xtms</role-name>
	</security-role>	

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>J2eeBPSecurityRealm</realm-name>
		<form-login-config>
			<form-login-page>/login/login.xhtml</form-login-page>
			<form-error-page>/login/loginFailed.xhtml</form-error-page>
		</form-login-config>
	</login-config>




	<servlet>
		<display-name>AuthServlet</display-name>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>j2eebp.servlet.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/j2eebp-web</url-pattern>
	</servlet-mapping>


</web-app>
